<%- include("../partials/header"); -%> 
<section class="vh-100" style="margin: 40px 0 700px 0;">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-9 col-xl-7 col-lg-6">
              <div class="card" style="border-radius: 15px;">
                <div class="card-body p-5">
                  <h2 class="text-uppercase text-center mb-5">ĐĂNG KÝ ỨNG VIÊN</h2>
    
                  <form method="post" action="/postJob" data-remote="true">           
                    <div class="form-left">
                        <div class="form-outline mb-4">
                            <label class="form-label" for="form3Example3cg">Công việc cần ứng tuyển*</label>
                            <input type="text" id="form3Example3cg" class="form-control form-control-lg" placeholder="Nhập công việc cần ứng tuyển" name="title"/>  
                        </div>

                        <div class="form-outline mb-4">
                          <label for="form3Example1cg">Ngành nghề*</label>
                          <select id="form3Example1cg" class="form-control form-control-lg" name="category">
                            <option>IT</option>
                            <option>Marketing</option>
                            <option>Tài chính</option>
                            <option>Kế toán</option>
                            <option>Ngân hàng</option>
                            <option>Nhân sự</option>
                            <option>Kiến trúc</option>
                            <option>Bất động sản</option>
                          </select>
                        </div>
          
                          <div class="form-outline mb-4" style="margin-top: 70px;">
                            <label class="form-label" for="form3Example4cdg">Lương*</label>
                            <input type="text" id="form3Example4cdg" class="form-control form-control-lg" placeholder="Nhập mức lương đề xuất" name="salary"/>  
                          </div>

                          <div class="form-outline mb-4">
                            <label for="form3Example1cg">Hình thức*</label>
                            <select id="form3Example1cg" class="form-control form-control-lg" name="type">
                              <option>Full-time</option>
                              <option>Part-time</option>
                              <option>Remote</option>
                            </select>
                          </div>

                          <div class="form-outline mb-4" style="margin-top: 70px">
                            <label class="form-label" for="form3Example1cg">Mô tả công việc*</label>
                            <textarea type="text" id="form3Example1cg" class="form-control form-control-lg" placeholder="Mô tả yêu cầu công việc" name="description" style="height: 200px;"></textarea>
                          </div>
          
                          <div class="form-outline mb-4">
                            <label class="form-label" for="form3Example1cg">Số lượng tuyển*</label>
                            <input type="text" id="form3Example1cg" class="form-control form-control-lg" placeholder="Nhập số lượng tuyển dụng" name="amountOfApplicant"/>
                          </div>

                          <div class="form-outline mb-4">
                            <label class="form-label" for="form3Example1cg">Yêu cầu kĩ năng*</label>
                            <input type="text" id="form3Example1cg" class="form-control form-control-lg" placeholder="Nhập yêu cầu kĩ năng" name="skills"/>
                          </div>

                          <div class="form-outline mb-4">
                            <label class="form-label" for="form3Example1cg">Hạn ứng tuyển*</label>
                            <input type="date" id="form3Example1cg" class="form-control" placeholder="Chọn hạn ứng tuyển" name="deadline"/>
                          </div>

                        <div class="d-flex justify-content-center" style="margin-top: 80px;">
                            <button type="submit" class="btn btn-success btn-block btn-lg ">Đăng bài</button> <!--gradient-custom-4 text-body-->
                        </div>
                    </div>
                  </form>      
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</section>

<%- include("../partials/footer"); -%> 