<%- include('../partials/header'); -%> 

<main>
    <!-- Right content -->
    <div class="col-lg-5 col-md-9 col-md-8">
        <!-- Featured_job_start -->
        <section class="featured-job-area">
            <div class="container" style="display: flex; width: 1000px">
                <!-- Count of Job list End -->
                <!-- single-job-content -->
                <div class="single-job-items mb-30">
                    <div class="job-items">
                        <div class="company-img">
                            <a href="#"><img src="assets/img/icon/job-list1.png" alt=""></a>
                        </div>
                        <% recruiterList.forEach(list => { %>
                            <div class="job-tittle job-tittle2">
                                <a href="/detail">
                                    <h4><%= list.namOfCompany %> </h4>
                                </a>
                                <ul>
                                    <li><i class="fas fa-map-marker-alt"></i><%= list.provincecity %> </li>
                                </ul>
                            </div>
                        <% }) %>  

                    </div>
                </div>
                <!-- single-job-content end-->   
                  
            </div>
        </section>
        <!-- Featured_job_end -->
    </div>

</main>

<%- include('../partials/footer') -%> 