<%- include('../partials/header'); %>

<section class="vh-100" style="margin: 20px 0 50px 0;">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-9 col-xl-7 col-lg-6">
              <div class="card" style="border-radius: 15px;">
                <div class="card-body p-5">
                  <h2 class="text-uppercase text-center mb-5">ĐĂNG CV CỦA BẠN</h2>
    
                  <form method="post" action="/uploadCV" data-remote="true" enctype="multipart/form-data">           
                    
                    <div class="form-outline mb-4">
                        <label class="form-label" for="form3Example1cg">Chọn file CV của bạn (.pdf, .docx): </label>
                        <input type="file" id="file" class="form-control form-control-lg" name="CV"/>
                      </div>

                    <div class="d-flex justify-content-center">
                      <button type="submit" class="btn btn-success btn-block btn-lg ">Tải CV</button> <!--gradient-custom-4 text-body-->
                    </div>
    
                  </form>      
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</section>

<%- include('../partials/footer'); %>