<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
         <title>Job board HTML-5 Template </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="manifest" href="site.webmanifest">
		<link rel="shortcut icon" type="image/x-icon" href="./assets/img/favicon.ico">

		<!-- CSS here -->
            <link rel="stylesheet" href="./assets/css/bootstrap.min.css">
            <link rel="stylesheet" href="./assets/css/owl.carousel.min.css">
            <link rel="stylesheet" href="./assets/css/flaticon.css">
            <link rel="stylesheet" href="./assets/css/price_rangs.css">
            <link rel="stylesheet" href="./assets/css/slicknav.css">
            <link rel="stylesheet" href="./assets/css/animate.min.css">
            <link rel="stylesheet" href="./assets/css/magnific-popup.css">
            <link rel="stylesheet" href="./assets/css/fontawesome-all.min.css">
            <link rel="stylesheet" href="./assets/css/themify-icons.css">
            <link rel="stylesheet" href="./assets/css/slick.css">
            <link rel="stylesheet" href="./assets/css/nice-select.css">
            <link rel="stylesheet" type="text/css" href="./assets/css/style.css">
   </head>
   <body>
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="./assets/img/logo/logo.png" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-md-6 d-none d-md-flex bg-image"></div>
            <div class="col-md-6 bg-light">
                <div class="login d-flex align-items-center py-5">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-7 col-xl-6 mx-auto">
                                <a href="/home"><img src="./assets/img/logo/logo.png" alt="" style="margin: 40px"></a>
                                <h3 class="display-5" style="padding: 20px 0 50px 0; text-align: center;">ĐĂNG NHẬP ỨNG VIÊN</h3>
                                <form method="post" action="/login" data-remote="true">
                                    <div class="form-group mb-3"> <input id="inputEmail" type="email" placeholder="Email" required="" autofocus="" class="form-control rounded-pill border-0 shadow-sm px-4"> </div>
                                    <div class="email error"></div>
                                    <div class="form-group mb-3"> <input id="inputPassword" type="password" placeholder="Password" required="" class="form-control rounded-pill border-0 shadow-sm px-4 text-danger"><br> </div>
                                    <div class="password error"></div>
                                    <div class="custom-control custom-checkbox mb-3"> <input id="customCheck1" type="checkbox" checked class="custom-control-input"> <label for="customCheck1" class="custom-control-label">Quên mật khẩu</label> </div> <button type="submit" class="btn btn-danger btn-block text-uppercase mb-2 rounded-pill shadow-sm" style="margin-left: 50px;">DĂNG NHẬP</button>
                                    <div class="text-center d-flex justify-content-between mt-4">
                                        <p> Hoặc &nbsp<a href="/register" class="font-italic text-muted"> <u>Tạo tài khoản</u></a></p>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- JS here -->
	
		<!-- All JS Custom Plugins Link Here here -->
        <script src="./assets/js/vendor/modernizr-3.5.0.min.js"></script>
		<!-- Jquery, Popper, Bootstrap -->
		<script src="./assets/js/vendor/jquery-1.12.4.min.js"></script>
        <script src="./assets/js/popper.min.js"></script>
        <script src="./assets/js/bootstrap.min.js"></script>
	    <!-- Jquery Mobile Menu -->
        <script src="./assets/js/jquery.slicknav.min.js"></script>

		<!-- Jquery Slick , Owl-Carousel Plugins -->
        <script src="./assets/js/owl.carousel.min.js"></script>
        <script src="./assets/js/slick.min.js"></script>
        <script src="./assets/js/price_rangs.js"></script>
        
		<!-- One Page, Animated-HeadLin -->
        <script src="./assets/js/wow.min.js"></script>
		<script src="./assets/js/animated.headline.js"></script>
        <script src="./assets/js/jquery.magnific-popup.js"></script>

		<!-- Scrollup, nice-select, sticky -->
        <script src="./assets/js/jquery.scrollUp.min.js"></script>
        <script src="./assets/js/jquery.nice-select.min.js"></script>
		<script src="./assets/js/jquery.sticky.js"></script>
        
        <!-- contact js -->
        <script src="./assets/js/contact.js"></script>
        <script src="./assets/js/jquery.form.js"></script>
        <script src="./assets/js/jquery.validate.min.js"></script>
        <script src="./assets/js/mail-script.js"></script>
        <script src="./assets/js/jquery.ajaxchimp.min.js"></script>
        
		<!-- Jquery Plugins, main Jquery -->	
        <script src="./assets/js/plugins.js"></script>
        <script src="./assets/js/main.js"></script>

        <!--Login exe-->
        <script>
            const form =  document.querySelector("form");
            const emailError = document.querySelector(".email.error");
            const passwordError = document.querySelector(".password.error");

            form.addEventListener("submit", (e) => {
                e.preventDefault();

                //reset errors
                emailError.textContent = "";
                passwordError.textContent = "";

                //Get the values
                const email = form.email.value;
                const password = form.password.value;

                try {
                    const res = await fetch("/login", {
                        method: "POST",
                        body: JSON.stringify({email, password}),
                        headers: {"Content-Type": "application/json"}
                    });
                    const data = await res.json();
                    console.log(data);
                    if(data.errors) {
                        emailError.textContent = data.errors.email;
                        password.textContent = data.errors.password;
                    }
                    if(data.applicant) {
                        location.assign("/");
                    }
                }
                catch(err) {
                    console.log(err);
                }
            });
        </script>
   </body>
</html>